doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
  body
    header
      h1 D3 Lessons
      h2 Charts
    main.index-layout
      aside.index-layout-aside
        ul
          li
            a(href="#bar-chart-section") 柱状图
      article.index-layout-main-body
        section#bar-chart-section
          h3 柱状图
          div#bar-chart
    footer